
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

/*Estilos generales*/
body {
        font-family: "Sawarabi Mincho", serif;
        font-weight: 400;
        font-style: normal;
        box-sizing: border-box;
        color: #fff;
        background-color:  #e63946;
}

body p {
    padding: 10px;
}

h1 {
    font-size: 52px;
    color: white;
    text-shadow: 1px 1px  black;
    justify-self: center;
    padding-top: 13rem;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2, h3, h4, p, ul, li {
    padding: 2px;
    margin-left: 10px;
}

a:any-link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8b0000;
}

/*Selectores*/
#inicio {
    background-image: url(imagenes/img\ inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-position: center;
}

i {
    font-size: 24px;
    margin-left: 20px;
    justify-content: justify;
    padding-top: 15px;
}
i:hover {
    color: #8b0000;
}

#informacion {
    background-color:#222;
}

/*grid destinos*/
.griddestinos {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 10px;
    margin-top: 15px;
    margin: 20px;
    justify-content: center;
}

.carddestino {
    background-color: #222;
    color: white;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

.carddestino h4 {
    font-size: 20px;
}

/*gastronomia*/
#gastronomia {
    background-color: rgb(255, 255, 255);
    color: black;
}

.gridgastronomia {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 10px;
    margin-top: 15px;
    margin: 20px;
    justify-content: center;
}

.cardgastronomia {
    background-color: #222;
    color: white;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
}

.cardgastronomia img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

/*contacto*/
#contacto {
    background-color: #ffc900;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

.itemform {
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    margin-bottom: 10px;
}

.itemform label {
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
    padding: 5px;
}
.itemform input,.itemform textarea {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #222;
}



input[type="submit"] {
    background-color: #222;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    grid-column: 3/3;
    justify-self: end;
}

/*nav*/
nav {
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid #ffffff;
    padding-top: 10px;
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav ul li {
    float: left;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*footer*/
footer {
    background-color: #222;
    color: white;
    text-align: justify;
}

/*responsive*/
@media screen and (max-width: 768px) {
    .griddestinos {
        grid-template-columns: repeat(1, 350px);
    }
}

@media screen and (max-width: 480px) {
    .griddestinos {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 36px;
        padding-top: 8rem;
    }

    h2 {
        font-size: 20px;
    }

    nav ul li {
        float: none;
        display: inline-block;
        margin: 0;
    }

    body {
        justify-content: justify;
        align-items: justify;
    }
}
    
@media screen and (max-width: 480px) {
    .gridgastronomia {
        grid-template-columns: repeat(1, 350px);
    }
}

@media screen and (max-width: 480px) {
    .itemform {
        grid-template-columns: repeat(1, 350px);
    }
    .itemform label {
        text-align: left;
    }
    .itemform input {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        grid-template-columns: repeat(1, 350px);
        justify-items: center;
}
    
}

